{% extends 'core/base.html' %}

{% block title %} About | {{ block.super }}{% endblock title %}

{% block content %}

<h1>About US</h1>
<hr>
<p>At Usha Financial Services – Memphis, we understand the needs of hardworking students at Christian Brothers University (CBU). Many of you balance academics with part-time jobs on campus, and we're here to support your financial journey every step of the way.

With our student-friendly banking features, you can easily deposit your earnings from university jobs and withdraw funds anytime you need them. Whether it’s managing daily expenses, saving for the semester, or simply keeping track of your income, our system is designed to make student banking simple, secure, and accessible.

Forget complicated processes and long wait times—our platform offers a smooth, digital-first experience tailored to your needs. Because at Usha Financial, we believe your focus should be on your studies and career, not on banking hassles</p>


{% endblock content %}
